doctype html

html(lang="en-US")

  head 
    title Jelk App 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/styles.css")

    body 
      header 
        h1 Jelk 

      main
        block main 

    footer 
      h1 Copyright 
      p Jelk team
      
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascript/socketPayload.js")