doctype html

html(lang="en-US")

  head 
    title Jelk App 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/styles.css")

    body 
      header 
        h1 Jelk 
        block main 

    footer 
      h1 Copyright 
      p Jelk team