extends layout 

block main 
  h1 Payload 
  h3(id="uuid")= webhook.uuid 
  h5= webhook.created_at 

  h3 Payloads
  
  if payloads.Payloads.length > 0
    ol(id="payloads-list")
      each payload in payloads.Payloads 
        li
          ul
            each val, key in payload
              li
                h5= key
                p= val
  else 
    p No payloads