* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #eee;
  font-family: arial, helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

header {
  background-color: #212;
  padding: 1rem 0;
  padding-left: 1rem;
}

main {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #222;
  padding: 1rem;
  min-height: 100vh;
}

main h1 {
  padding: 1rem;
}

main h3 {
  padding: 0.5rem;
  display: inline-block;
  width: 10rem;
}

main form.delete {
  display: inline-block;
}

form.add-item {
  position: relative;
}

main form.add-item dd {
  display: inline-block;
  margin-top: 1rem;
}

main form.add-item button {
  display: inline-block;
  margin-left: 10px;
}

button.danger {
  color: #fff;
  background-color: tomato;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

button.primary {
  color: #fff;
  background-color: dodgerblue;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

fieldset button {
  margin-top: 1rem;
}

dt {
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 10rem;
  margin-top: 0.5rem;
}

h2.webhook {
  margin-top: 2rem;
}

form.create-webhook {
  padding: 0;
}

h3.webhook-title {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

h3.webhook-title a {
  color: #ddd;
}

h5.webhook-creation-date {
  font-size: 1rem;
  text-decoration: none;
}

h5.webhook-creation-date p {
  font-size: 1rem;
  color: rgb(100, 100, 250);
}

fieldset {
  border: none;
}

li {
  list-style: none;
}

form {
  padding: 0.5rem;
}

footer {
  background-color: rgb(10, 10, 50);
  padding: 1rem;
}

#uuid {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 1rem;
}

h5.webhook-date {
  margin-top: 0.5rem;
}

h1.payloads {
  padding: 0;
}

h1.payloads-label {
  padding: 0;
  margin-top: 2rem;
}

#payloads-list {
  margin: 0;
  position: relative;
}

#payloads-list form {
  position: absolute;
  right: 1rem;
  padding: 0;
  top: 0;
}

#payloads-list form button {
  margin: 0;
  margin-top: 0.6rem;
}

#payloads-list li.outer {
  background-color: rgb(30, 30, 30);
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  padding-top: 0;
  border-radius: 0.5rem;
}

#payloads-list li.inner {
  background-color: rgb(25, 25, 30);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

#payloads-list li.inner:first-child {
  margin-top: 0;
}

#payloads-list li.inner h5 {
  text-decoration: none;
  color: #55f;
}

#payloads-list li.inner p {
  padding: 0.5rem;
  color: #33c;
}

h5.payload-title {
  font-size: 1rem;
  padding: 1rem;
  padding-left: 0;
}



/* ul {
  border: 1px solid #ccc;
  margin-left: 10px;
} */

ul h5 {
  color: green;
  font-size: 1.4rem;
  padding: 5px;
  text-decoration: underline;
}

ol {
  margin-left: 5%;
}